.idea/
.classpath
.project
.settings
*.iml
target/
properties
**/*.log
*.versionsBackup

bye.txt
wiki/bye.txt
greeting.txt
wiki/greeting.txt
copy/greetingCopy.txt
wiki/copy/greetingCopy.txt
greeting.html
wiki/greeting.html

wiki/plugins/*.jar
wiki/webdrivers/

wiki/fitnesse-standalone.jar
wiki/fixtures/
wiki/FitNesseRoot/**/*.zip
wiki/FitNesseRoot/files/fileFixture
wiki/FitNesseRoot/files/downloads
wiki/FitNesseRoot/files/pagesources
wiki/FitNesseRoot/files/screenshots
wiki/FitNesseRoot/files/test
wiki/FitNesseRoot/files/testProgress
wiki/FitNesseRoot/files/testResults
wiki/FitNesseRoot/files/*Examples/*
wiki/FitNesseRoot/ErrorLogs
wiki/FitNesseRoot/FitNesse
wiki/FitNesseRoot/PageFooter
wiki/FitNesseRoot/PageHeader
wiki/FitNesseRoot/RecentChanges*
wiki/FitNesseRoot/TemplateLibrary
wiki/FitNesseRoot/Hsac*